/app_logs/__pycache__/
/app_logs/**/__pycache__/
/app_logs/**/*.py[cod]
/app_logs/**/*.pyo
/app_logs/**/*.pyc

__pycache__/
*.py[cod]
*.pyo

sae302/
venv/
.venv/
env/
ENV/

.env
.env.*

instance/

*.log

.pytest_cache/
.mypy_cache/
.coverage

build/
dist/
*.egg-info/

.vscode/
.idea/
.DS_Store
Thumbs.db

*.sqlite3

brouillon.txt